    html {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6s {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
    }
    
    #inputresults {
        margin-top: 2%;
    }
    
    h2 {
        color: #DD0E1C;
    }
    
    body {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px
    }
    
    form {
        display: inline-block;
    }
    
    #homeForm {
        padding-top: 2%;
    }
    
    .intro-header {
        padding-top: 150px;
        padding-bottom: 150px;
        text-align: center;
        color: #f8f8f8;
    }
    
    .intro-message {
        position: relative;
    }
    
    .intro-message>h1 {
        margin: 0;
        text-shadow: 2px 2px 3px white;
        font-size: 5em;
    }
    
    .intro-divider {
        width: 400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin: auto;
    }
    
    .intro-message>h3 {
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    
    @media(max-width:767px) {
        .intro-message {
            padding-bottom: 15%;
        }
        .intro-message>h1 {
            font-size: 3em;
        }
        ul.intro-social-buttons>li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
        }
        ul.intro-social-buttons>li:last-child {
            margin-bottom: 0;
        }
        .intro-divider {
            width: 100%;
        }
    }
    
    button {
        background: #DD0E1C;
        border-radius: 5px;
        border: 1px solid #DD0E1C;
        color: #fff;
        height: 33px;
    }
    
    .wall {
        background: url('../img/intro-bg.jpg') no-repeat center center;
        height: 100vh;
        width: 100%;
        padding: 0;
        background-size: cover;
    }
    
    input {
        background: #d9d9d9;
        border-radius: 5px;
        width: 28%;
        height: 38px;
        font-size: 150%;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        ;
    }
    
    input:focus,
    input.focus {
        border-color: #761c19;
    }
    
    h1 {
        color: #DD0E1C;
        text-shadow: 1px 2px 3px #666;
    }
    
    .btn {
        text-align: center;
    }
    
    .foot {
        color: #fff;
        clear: both;
        width: 100%;
        background-color: #DD0E1C ;
        padding-top: 0.5%;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .form {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
    }
    
    .navimg {
        width: 4%;
        margin-right: 1%;
        margin-top: 3px;
    }
    
    .nav-header {
        display: inline-block;
    }
    /* -------------------------- */
    
    .my-navbar {
        margin: 0;
        border: 0px;
        border-bottom: .5px solid #DD0E1C;
        border-radius: 0px;
    }
    
    .btn-warning .badge {
        color: #f0ad4e;
        background-color: #fff;
    }
    
    .btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }
    
    .btn-danger:focus,
    .btn-danger.focus {
        color: #fff;
        background-color: #c9302c;
        border-color: #761c19;
    }
    
    .btn-danger:hover {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }
    
    .btn-danger:active,
    .btn-danger.active,
    .open>.dropdown-toggle.btn-danger {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }
    
    .btn-danger:active:hover,
    .btn-danger.active:hover,
    .open>.dropdown-toggle.btn-danger:hover,
    .btn-danger:active:focus,
    .btn-danger.active:focus,
    .open>.dropdown-toggle.btn-danger:focus,
    .btn-danger:active.focus,
    .btn-danger.active.focus,
    .open>.dropdown-toggle.btn-danger.focus {
        color: #fff;
        background-color: #ac2925;
        border-color: #761c19;
    }
    
    .btn-danger:active,
    .btn-danger.active,
    .open>.dropdown-toggle.btn-danger {
        background-image: none;
    }
    
    .btn-danger.disabled:hover,
    .btn-danger[disabled]:hover,
    fieldset[disabled] .btn-danger:hover,
    .btn-danger.disabled:focus,
    .btn-danger[disabled]:focus,
    fieldset[disabled] .btn-danger:focus,
    .btn-danger.disabled.focus,
    .btn-danger[disabled].focus,
    fieldset[disabled] .btn-danger.focus {
        background-color: #d9534f;
        border-color: #d43f3a;
    }
    
    .btn-danger .badge {
        color: #d9534f;
        background-color: #fff;
    }
    
    .navbar-inverse {
        background-color: #fff;
        border-color: #DD0E1C;
    }
    
    .navbar-inverse .navbar-brand {
        color: #DD0E1C;
    }
    
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: #ff9999;
        background-color: transparent;
    }
    
    @media screen and (max-width: 750px) {
        .navimg {
            visibility: hidden;
        }
    }
    
    #offers {
        padding: 15px;
    }