<div class="wall">
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Wevelopers</h1>
                        <h3>The Place To Find Developer Jobs</h3>
                        <hr class="intro-divider">
                        <form id="homeForm">
                            <div class="row">
                                <div class="col-xs-8">
                                    <input ng-model="query" class="form-control" autofocus placeholder="front java barcelona.. ">
                                </div>
                                <div class="col-xs-4">
                                    <button ng-click="searchOffers(query)">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<a name="services"></a>
</div>

<a href="#!/details/{{offer.id}}"><button>View Details<span class="glyphicon glyphicon-chevron-right"></span></button></a>